* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Geist", sans-serif;
}

.presentation {
    margin: 0;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/9/9e/Olympic_rings_on_the_Eiffel_Tower_2024_%285%29.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.home_story {
    display: block;
    text-align: center;
    margin-top: 40px;
}

.paris_2024 {
    display: flex;
    justify-content: center;
    text-align: flex-start;
}


.paris_2024 .paris h1{
    display: block;
    font-size: 130px;
    margin: 20px;
    color: blue;
    text-shadow: 2px 2px white;
}


.paris_2024 .date_2024 h1{
    display: block;
    font-size: 130px;
    margin: 20px;
    color: red;
    text-shadow: 2px 2px white;

}


.paris_2024_intro span {
    display: block;
    margin: 0;
    font-size: 30px;
    color: white;
    text-align: bottom;
} 


/* Pour responsive telephone*/
.header-main {
    position: relative;
}


ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    max-width: 100%;
}

/* Pour responsive telephone*/
.logo_avant_ul_telephone {
    display: none;
}
/*--------------------*/
nav ul li {
    width: 100%;
    background-color: #FFFFFF;
    text-transform: uppercase;
}

nav ul li a{
    display: block;
    padding: 20px;
    color: black;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
}


ul li:hover {
    background-color: beige;
}

ul li:hover a {
    color: black;
    font-size: 25px;
    letter-spacing: 5px;
    font-weight: bold;
}

.hamburger {
    display: none;            
    font-size: 30px;
    cursor: pointer;
    margin-left: auto;        
    order: 2;                 
}

.intro_paris2024_decouvre {
    display: block;
    width: 100%;
    color: white;
    text-shadow: 5px 2px black;
    font-size: 40px;
    margin-top: 250px;
}



/* -------------------------------------------------------------*/
.infos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 40px;
}

.info {
    padding: 20px;
    border-radius: 10px;
    background: linear-gradient(141deg, rgba(237, 232, 218, 1) 19%, rgba(229, 227, 224, 1) 38%, rgba(221, 221, 230, 1) 62%, rgba(220, 221, 230, 1) 64%, rgba(217, 201, 145, 1) 76%, rgba(255, 255, 255, 1) 91%);
    width: 320px;
    height: 350px;
}

.info h3 {
    display: block;
    font-size: 40px;
    margin: 10px 0 0px 0;
}

.info span {
    display: block;
    font-size: 15px;
}

.disciplines, .sites {
    display: block;
    text-align: center;
    margin-top: 30px;
    background-color: azure;
}

.sites {
    background-color: rgb(0, 27, 53);
    color: white;
    overflow: hidden;
}

.div_disciplines{
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    width: 85%;
    margin: 0 auto;
}

.disciplines {
    display: block;
    border: 1px solid transparent;
}

.description_disciplines_entete {
    display: block;
    margin-top: 30px;
}

.description_disciplines_entete span,
.description_sites_entete span  {
    display: block;
    border: 3px solid rgba(242, 214, 2, 1);
    font-weight: bold;
    font-size: 20px;
    width: 300px;
    margin: 40px auto 0;
    border-radius: 20px;
    padding: 20px;
    background-color: #454020;
    color: rgba(242, 214, 2, 1);
}



.description_disciplines_entete h2, 
.description_sites_entete h2  {
    display: block;
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 10px 0;
}

.discipline {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    height: 270px;
    padding: 20px;
    border-radius: 20px;
    font-size: 30px;
    transition: transform 1s ease;
    margin: 0;
    padding: 0;
    position: relative;
}


.voir_tous_disciplines, .voir_tous_sites {
    display: block;
    text-decoration: none;
    padding: 20px;
    border: 1px solid;
    border-radius: 20px;
    color: white;
    font-size: 22px;
    box-sizing: border-box;
    width: fit-content;
    margin: 30px auto;
    background-color: rgb(0, 27, 53);
    transition: transform 0.5s ease;
    
}

.voir_tous_disciplines:hover {
    background-color: rgb(5, 83, 150);
    transform: scale(1.05);
}

.voir_tous_sites {
    background: #fcc14c;
    color: black;
}

.voir_tous_sites:hover {
    background: #f9af1c;
    transform: scale(1.05);
}   

.discipline:hover {
    transform: scale(1.1);
}


.discipline a {
    display: block;
    width: 100%;
    height: 100%;
}

.discipline a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}


.discipline a span{
    position: absolute;
    bottom: 0;
    left: 0px;
    color: black;
    background-color: white;
    border-bottom-left-radius: 20px;
    border-left: 2px solid black;
    padding: 5px 10px;

}


.sites {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div_sites {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 80%;
}


.site {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
    padding: 20px;
    border: 1px solid;
    font-size: 30px;
    color: white;
    padding: 0;
    margin: 0;
    
}


.site a {
    width: 100%;
    height: 100%;
    position: relative;
}

.site a img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.text_site {
    position: absolute;
    bottom: 0;
    left: 0;
    color: black;
    background-color: white;
    padding: 0px 25px;
}


.text_site p {
    text-transform: uppercase;
    margin: 0;
    font-weight: bold;
}

.text_site span {
    font-size: 20px;
    margin: 0;
    opacity: 0.6;
}

.location_site {
    font-size: 15px;
    color: black;
    margin: 0;
}


/* -------------------------------------------------- */

footer {
    display: flex;
    justify-content: center; 
    align-items: center;     
    gap: 100px;              
    padding: 20px;
    background-color: beige;
}

.paris_2024_name_footer {
    font-weight: bold;
    font-size: 50px;
}

footer > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer > div span {
    display: block;
    text-align: center;
    font-size: 20px;
}


/* ------------------------------------------ */

@media (max-width : 768px) {
    .presentation {
        background-position: center;
    }

    .header-main {
        margin: 0;
        padding: 10px 0;
    }
    
    nav {
        display: flex;
    }

    .hamburger {
        display: block;
        text-align: right;
        margin-right: 20px;
        color: white;
        max-width: max-content;
        font-size: 40px;
    }
    

    .home_story {
        margin-top: 0px;
    }

    nav ul li {
        width: 100%;
        background: none;
    }

    #header-main.show {
        background-color: white;
    }

    #header-main.show .hamburger {
        color: black;
    }
    
    #navLinks {
        display: flex;
        flex: 1;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: white;
        flex-direction: column;
        align-items: center;
        padding: 15px 0;
        z-index: 999;
        margin-top: 0;
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        transition: max-height 1s ease, opacity 0.25s ease;
    }

    #navLinks li:nth-child(1) {
        display: none;
    }

    #navLinks.show {
        max-height: 500px;
        opacity: 1;
        padding: 20px 0;
        max-height: 100vh;
    }

    #navLinks li {
        margin-bottom: 20px;
    }

    nav ul li:hover {
        background: none;
    }

    /* --------------------------- */

    .paris_2024 {
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        margin-top: 20px;
    }


    .paris_2024 .date_2024 h1,
    .paris_2024 .paris h1 {
        display: block;
        font-size: 100px;
        letter-spacing: 8px;
        margin: 0;
    }

    .paris_2024 .paris h1 {
        color: blue;
    }

    .paris_2024 .date_2024 h1{
        color: red;
    }


    .paris_2024_intro span {
        font-size: 20px; 
    } 


    .intro_paris2024_decouvre {
        display: block;
        width: 100%;
        color: white;
        text-shadow: 5px 2px black;
        font-size: 25px;
        margin-top: 220px;
    }

    /*--------------------------*/


    

    /*------------------------------------------------*/
    /*      INFO    */
    
    .infos {
        flex-direction: column;
        margin: 20px;
    }

    .infos .info {
        width: 100%;
    }

    .info {
        height: fit-content;
    }

    /* ------------------------------------- */

    .disciplines {
        display: flex;
        flex-direction: column;
    }

    .div_disciplines {
        display: flex;
        flex-direction: column;
        width: 100%;
        
    }

    .div_disciplines .discipline {
        margin: 0 20px;
        border-radius: 5px;
        max-width: 100%;
    }

    .div_sites {
        display: flex;
        flex-direction: column;
        width: 90%;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .div_sites .site {
        margin: 0 20px;
        border: 3px solid;
        border-radius: 5px;
        border-color: yellow;
    }

    .site, .site a, .site a img {
        max-width: 100%;
    }

    .text_site {
        padding: 0 10px;
    }

    .text_site p {
        font-size: 20px;
        margin: 0;
        padding: 0;
    }

    .text_site span {
        font-size: 15px;
        margin: 0;
        padding: 0;
    }



    /* ----------------------------------------------- */


    /* FOOTER */

    footer {
        display: flex;
        margin-top: 20px;
        flex-direction: column;
        justify-content: center; 
        align-items: center;     
        gap: 0;              
        background-color: beige;  
    }


    footer div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer div span {
        display: block;
        text-align: center;
        font-size: 20px;
    }


    .paris_2024_name_footer {
        margin: 0;
    }

    .jo2024_name_footer {
        margin: 0;
        font-size: 20px;
    }

    .div_date_footer {
        width: 100%;
        display: block;
        margin-top: 30px;
        padding: 20px;
        background-color: white;
        border-radius: 15px;
    }

    .div_date_footer hr {
        margin: 10px;
    }
    
}