body {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 100%;
}

ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 100%;
}

nav ul li {
    padding: 20px;
    color: white;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

.tab_medailles_presentation {
    border: 1px solid;
    background-image: url("disciplines-medal.avif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.tab_medailles_presentation div {
    display: block;
    margin: 50px;
    color: white;
}

.tab_medailles_presentation h1, .tab_medailles_presentation span {
    display: block;
    text-align: center;
    margin: 0;
}

.tab_medailles_presentation img {
    display: block;
    width: 100px;
    margin: 0 auto;
}

.tab_medailles_presentation h1 {
    font-size: 50px;
}

.medailles {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 20px 0 20px 0;
}

.medaille {
    display: flex;
    width: 200px;
    height: 200px;
    justify-content: flex-start;
    align-items: flex-end;
    border-radius: 20px;
    color: white;
}

.medaille p {
    font-weight: bold;
    font-size: 30px;
}

#gold_medal {
    background-image: url("gold_medal_olympics_paris_2024.jpg");
}

#silver_medal {
    background-image: url("silver\ medal.jpg");
}

#bronze_medal {
    background-image: url("2024-Paris-Summer-Olympics-bronze-medal.jpg");
}

#bronze_medal, #gold_medal, #silver_medal {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*-----------------------------------------------*/
.classement {
    display: block;
    justify-content: space-between;
    border: 1px solid black;
    margin: 0 20%;
}


.classement_sous{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid #ccc;
    font-size: 18px;
}

.header {
    font-weight: bold;
    border-bottom: 2px solid #ccc;
    background-color: aqua;
}

.nom_pays {
    text-align: left;
    padding-left: 6px;
    width: 100%;
}

.nb_gold_medals,
.nb_silver_medals,
.nb_bronze_medals,
.numero_pays {
    display: block;
    text-align: center;
    width: 100%;
    padding: 10px;
}

.numero_pays {
    width: 50%;
}

.nb_gold_medals {
    margin-left: 100px;
}

.classement {
    border-radius: 30px;
}


footer {
    margin: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    border: 1px solid;
    background-color: rgb(137, 137, 167);
    padding: 30px;
}

.logo_jo_2024 img {
    display: block;
    text-align: center;
    width: 300px;
}







/* -------------------------------------------*/

.pays_details {
    margin: 0 25%;
    background: #ffaa00;
    background: linear-gradient(304deg, rgba(255, 170, 0, 1) 50%, rgba(242, 192, 12, 1) 61%, rgba(237, 210, 135, 1) 100%);
    padding: 20px;
    border-radius: 0px;
}

.info_pays_details {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.pays_stats {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin: 0 10px;
}

.or, .argent, .bronze {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid;
    width: 100%;
    border-radius: 10px;
    background-color: white;
}

.filtre_medailles {
    display: block;
    background-color: #ccc;
    border-bottom: 2px solid black;
    margin-bottom: 0;
}

.choix_filtre_medailles {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    background-color: #ccc;
    margin: 10px 10px 20px 10px;
}

.section_medailles_filtre {
    display: block;
    margin: 0;
    background-color: #ccc;
    border: 1px solid;
    padding: 20px;
}

.medaille_filtre_css {
    display: block;
    padding: 10px;
    border: 1px solid;
    border-radius: 10px;
    background-color: white;
}