*{
    box-sizing: border-box;
}


body {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "Bebas Neue", sans-serif;
}



ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 100%;
}

nav ul li {
    padding: 20px;
    color: white;
}

nav ul li a {
    text-decoration: none;
    color: black;
}





.tab_medailles_presentation {
    display: grid;
    grid-template-columns: 65% 35%;
    border: 1px solid;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 40px;
    background-color: #f6f3f3;
}

.image_medal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image_medal img {
    display: block;
    max-width: 100%;
}

.classement_description {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    align-items: flex-start;
    text-align: center;
    padding: 10px 30px;
    text-align: left;
}

.classement_description h1 {
    font-size: 50px;
}

.classement_description p {
    font-size: 20px;
}

.classement_description p a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.redirection_classement {
    display: block;
    width: 100%;
    padding: 15px;
    border: 1px solid;
    border-radius: 5px;
    background-color: #000000ca;
}

.redirection_classement:hover {
    background-color: rgb(40, 40, 39);
}


.sports {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin: 10px 10% 0 10%;
}

.sport {
    display: flex;
    width: 100%;
    height: 200px;
    justify-content: flex-start;
    align-items: flex-end;
    border: 1px solid black;
    border-radius: 20px;
    background-image: url("escrime.jpg");
    background-position: center;
    background-size: cover;
    color: white;
}

.sport span {
    display: block;
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
}