*{
    box-sizing: border-box;
}


body {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "Bebas Neue", sans-serif;
}



ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 100%;
}

nav ul li {
    padding: 20px;
    color: white;
}

nav ul li a {
    text-decoration: none;
    color: black;
}





.tab_medailles_presentation {
    display: grid;
    grid-template-columns: 65% 35%;
    border: 1px solid;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 40px;
    background-color: #f6f3f3;
}

.image_medal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image_medal img {
    display: block;
    max-width: 100%;
}

.classement_description {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    align-items: flex-start;
    text-align: center;
    padding: 10px 30px;
    text-align: left;
}

.classement_description h1 {
    font-size: 50px;
}

.classement_description p {
    font-size: 20px;
}

.classement_description p a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}


.description_fonctio_disciplines {
    display: block;
    text-align: center;
    font-size: 20px;
    background-color: aliceblue;
    padding: 10px;
    text-decoration: underline;
    font-weight: bold;
    word-spacing: 1px;
}


.sports {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin: 10px 10% 0 10%;
}

.sport {
    display: flex;
    width: 100%;
    height: 200px;
    align-items: flex-end;
    border: 1px solid black;
    border-radius: 20px;
    background-image: url("escrime.jpg");
    background-position: center;
    background-size: cover;
    color: white;
    cursor: pointer;
    transition: 
                transform 1.5s ease,
                border-radius 1.5s ease,
                box-shadow 0.3s ease;
}

.discipline_div_descri  {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1.5em;
}


.sport:hover .discipline_div_descri {
    background-color: white;
    color: black;
}

.voir_discipline {
    visibility: hidden;
    width: 100%;
}

.sport:hover .discipline_div_descri .voir_discipline {
    visibility: visible;
    background-color: rgb(203, 155, 155);
}


.sport:hover {
    transform: scale(1.1);
    border-radius: 0;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}


.sport span {
    display: block;
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
}




/* ----------------------------------------------- */

footer {
    display: flex;
    justify-content: center; 
    align-items: center;     
    gap: 40px;              
    padding: 10px;
    background-color: #f5f5f5; 
    background: #ede8da;
    background: linear-gradient(141deg, rgba(237, 232, 218, 1) 19%, rgba(229, 227, 224, 1) 38%, rgba(221, 221, 230, 1) 62%, rgba(220, 221, 230, 1) 64%, rgba(217, 201, 145, 1) 76%, rgba(255, 255, 255, 1) 91%);
}


footer > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer > div span {
    display: block;
    text-align: center;
    font-size: 20px;
}

.logo_jo_2024 img {
    display: block;
    text-align: center;
    width: 300px;
}