*{
    box-sizing: border-box;
}


body {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "Bebas Neue", sans-serif;
}



ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 100%;
}

nav ul li {
    padding: 20px;
    color: white;
}

nav ul li a {
    text-decoration: none;
    color: black;
}





.tab_medailles_presentation {
    display: grid;
    grid-template-columns: 65% 35%;
    border: 1px solid;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 40px;
    background-color: #f6f3f3;
}

.image_medal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image_medal img {
    display: block;
    max-width: 100%;
}

.classement_description {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    align-items: flex-start;
    text-align: center;
    padding: 10px 30px;
    text-align: left;
}

.classement_description h1 {
    font-size: 50px;
}

.classement_description p {
    font-size: 20px;
}

.classement_description p a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.redirection_classement {
    display: block;
    width: 100%;
    padding: 15px;
    border: 1px solid;
    border-radius: 5px;
    background-color: #000000ca;
}

.redirection_classement:hover {
    background-color: rgb(40, 40, 39);
}


/*-----------------------------------------------------------------------------------------------*/


.option_select{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 0 10%;
    margin-top: 10px;
    border-bottom: 10px solid rgb(0, 0, 0);
    padding-bottom: 10px;
}

.option_select select {
    display: block;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
}


.option_select div {
    display: block;
    width: 100%;
}
.option_select div button {
    display: block;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
    background-color: #000000;
    cursor: pointer;
    font-size: 25px;
    color: white;
    transition: background 0.5s ease;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
}

.option_select div button:hover {
    background-color: rgb(255, 0, 0);
    
}



/* ------------------------------------------------------------ */
.athletes {
    margin: 0 5%;
    justify-content: center;
    align-items: center;
}

.entete_athlete {
    background-color: rgb(218, 233, 247);
}

.athlete, .entete_athlete {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.athlete div, .entete_athlete div {
    display: block;
    width: 100%;
    font-size: 25px;
    padding: 20px;
    border-bottom: 4px solid grey;
    font-size: 25px;

}

.entete_athlete .genre, .athlete .genre{
    text-align: center;
    width: 30%;
}

.entete_athlete .nom_pays, .athlete .nom_pays, 
.entete_athlete .medal_type, .athlete .medal_type{
    text-align: center;
    width: 75%;
}

.entete_athlete .epreuve, .athlete .epreuve{
    text-align: right;
}

.athlete .nom_pays .nom_pays_span{
    margin-left: 10px;
} 

.athlete{
    transition: background 0.5s ease;
}

.athlete:hover {
    background-color: beige;
}



.athlete .nom_athlete {
    background-color: #f6f3f3;
    transition: border 0.5s ease;
}


.athlete:hover .nom_athlete {
    border-bottom: 4px solid rgb(70, 82, 255);
    border-left: 4px solid red;
}

