* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Bebas Neue", sans-serif;
}

ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    max-width: 100%;
}

nav ul li {
    width: 100%;
}

nav ul li a{
    display: block;
    padding: 20px;
    color: black;
    text-align: center;
    text-decoration: none;
}

nav ul li a {
    font-size: 20px;
}

ul li:hover {
    background: url("logo.png") no-repeat center/cover;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

ul li:hover a {
    color: black;
    font-size: 25px;
    letter-spacing: 5px;
}

/*-----------------------------------------------------*/


.tab_medailles_presentation {
    display: grid;
    grid-template-columns: 65% 35%;
    border: 1px solid;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 40px;
    background-color: #f6f3f3;
}

.image_medal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image_medal img {
    display: block;
    max-width: 100%;
}

.classement_description {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    align-items: flex-start;
    text-align: center;
    padding: 10px 30px;
    text-align: left;
}

.classement_description h1 {
    font-size: 50px;
}

.classement_description p {
    font-size: 20px;
}

.classement_description p a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.redirection_classement {
    display: block;
    width: 100%;
    padding: 15px;
    border: 1px solid;
    border-radius: 5px;
    background-color: #000000ca;
}

.redirection_classement:hover {
    background-color: rgb(40, 40, 39);
}


/*-----------------------------------------------------------------------------------------------*/


.option_select{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 0 10%;
    margin-top: 10px;
    border-bottom: 10px solid rgb(0, 0, 0);
    padding-bottom: 10px;
}

.option_select select {
    display: block;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
}


.option_select div {
    display: block;
    width: 100%;
}
.option_select div button {
    display: block;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
    background-color: #000000;
    cursor: pointer;
    font-size: 25px;
    color: white;
    transition: background 0.5s ease;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
}

.option_select div button:hover {
    background-color: rgb(255, 0, 0);
    
}



/* ------------------------------------------------------------ */
.athletes {
    margin: 0 5%;
    justify-content: center;
    align-items: center;
}

.entete_athlete {
    background-color: rgb(218, 233, 247);
}

.athlete, .entete_athlete {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.athlete div, .entete_athlete div {
    display: block;
    width: 100%;
    font-size: 25px;
    padding: 20px;
    border-bottom: 4px solid grey;
    font-size: 25px;

}

.entete_athlete .genre, .athlete .genre{
    text-align: center;
    width: 30%;
}

.entete_athlete .nom_pays, .athlete .nom_pays, 
.entete_athlete .medal_type, .athlete .medal_type{
    text-align: center;
    width: 75%;
}

.entete_athlete .epreuve, .athlete .epreuve{
    text-align: right;
}

.athlete .nom_pays .nom_pays_span{
    margin-left: 10px;
} 

.athlete{
    transition: background 0.5s ease;
}

.athlete:hover {
    background-color: beige;
}



.athlete .nom_athlete {
    background-color: #f6f3f3;
    transition: border 0.5s ease;
}


.athlete:hover .nom_athlete {
    border-bottom: 4px solid rgb(70, 82, 255);
    border-left: 4px solid red;
}

footer {
    display: flex;
    justify-content: center; 
    align-items: center;     
    gap: 40px;    
    margin-top: 30px;          
    padding: 10px;
    background-color: #f5f5f5; 
    background: #ede8da;
    background: linear-gradient(141deg, rgba(237, 232, 218, 1) 19%, rgba(229, 227, 224, 1) 38%, rgba(221, 221, 230, 1) 62%, rgba(220, 221, 230, 1) 64%, rgba(217, 201, 145, 1) 76%, rgba(255, 255, 255, 1) 91%);
}


footer > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer > div span {
    display: block;
    text-align: center;
    font-size: 20px;
}

.logo_jo_2024 img {
    display: block;
    text-align: center;
    width: 300px;
}




@media(max-width : 768px) {
    
}