
.header-main {
    position: relative;
}

ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    max-width: 100%;
}

.logo_avant_ul_telephone {
    display: none;
}

nav {
    order: 1;
    flex: 1;
}

nav ul li {
    width: 100%;
}

nav ul .li_logo_telephone {
    display: none;
}

nav ul li a{
    display: block;
    padding: 20px;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}

ul li:hover {
    background: url("logo.png") no-repeat center/cover;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

ul li:hover a {
    color: black;
    font-size: 25px;
    letter-spacing: 5px;
}

.hamburger {
    display: none;            /* visible uniquement en responsive */
    font-size: 30px;
    cursor: pointer;
    margin-left: auto;        /* pousse l'icône hamburger à droite */
    order: 2;                 /* pour s'assurer qu'il soit à la fin */
}

footer {
    display: flex;
    justify-content: center; 
    align-items: center;     
    gap: 40px;    
    margin-top: 30px;          
    padding: 10px;
    background-color: #f5f5f5; 
    background: #ede8da;
    background: linear-gradient(141deg, rgba(237, 232, 218, 1) 19%, rgba(229, 227, 224, 1) 38%, rgba(221, 221, 230, 1) 62%, rgba(220, 221, 230, 1) 64%, rgba(217, 201, 145, 1) 76%, rgba(255, 255, 255, 1) 91%);
}


footer > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer > div span {
    display: block;
    text-align: center;
    font-size: 20px;
}

.logo_jo_2024 img {
    display: block;
    text-align: center;
    width: 300px;
}


@media (max-width : 750px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        max-width: 100%;
    }

    .header-main {
        padding: 10px 0;
    }

    nav ul .li_logo_telephone {
        display: block;
    }

    #logo_avant_ul_telephone {
        display: none;
    }

    #logo_avant_ul_telephone.show {
        display: block;
        width: 100%;
        background-color: white;
    }

    nav {
        display: flex;
    }

    .hamburger {
        display: block;
        text-align: right;
        margin-right: 20px;
    }

    #navLinks {
        display: flex;
        flex: 1;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #f5f5f5;
        flex-direction: column;
        align-items: center;
        padding: 15px 0;
        z-index: 999;
        margin-top: 0;
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        transition: max-height 1s ease, opacity 0.25s ease;
    }

    #navLinks li:nth-child(2) {
        display: none;
    }

    #navLinks.show {
        max-height: 500px; /* assez grand pour contenir le menu */
        opacity: 1;
        padding: 15px 0;
        max-height: 100vh;
    }

    #navLinks li {
        margin-bottom: 15px;
    }

    nav ul li:hover {
        background: none;
    }



    /* FOOTER */

    footer {
        display: flex;
        margin-top: 20px;
        flex-direction: column;
        justify-content: center; 
        align-items: center;     
        gap: 0;              
        background-color: #f5f5f5; 
        background: #ede8da;
        background: linear-gradient(141deg, rgba(237, 232, 218, 1) 19%, rgba(229, 227, 224, 1) 38%, rgba(221, 221, 230, 1) 62%, rgba(220, 221, 230, 1) 64%, rgba(217, 201, 145, 1) 76%, rgba(255, 255, 255, 1) 91%);
    }


    footer div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer div span {
        display: block;
        text-align: center;
        font-size: 30px;
    }

    .logo_jo_2024 img {
        display: block;
        text-align: center;
        width: 300px;
    }

}