* {
    margin: 0;
    box-sizing: border-box;
    max-width: 100%;
}

.classement {
    display: block;
    margin: 0 10%;
    border: 1px solid black;
}

.div_presentation_pays {
    border: 1px solid black;
    background-color: rgb(0, 27, 53);
    color: white;
}

.div_pays {
    display: flex;
    border: 1px solid black;
    align-items: center;
}

.nom_pays {
    display: flex;
    flex-direction: column;
}

.div_pays, .type_medals, .filtre_medaille {
    margin: 20px;
}

.type_medals {
    display: flex;
    gap: 30px;
    border: 1px solid black;
    max-width: 100%;
}

.type_medals div {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    background-color: rgb(63, 66, 69);
    width: 100%;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
    
}

.medal_selec_option  {
    display: flex;
    gap: 30px;
    margin-top: 10px;
}

.medal_selec_option div  {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    width: 100px;
}


.affichage_athletes_pays {
    border-top: 1px solid black;
}

.athletes_medailles_pays {
    margin: 20px;
}



