* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Bebas Neue", sans-serif;
}

ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    max-width: 100%;
}

nav ul li {
    width: 100%;
}

nav ul li a{
    display: block;
    padding: 20px;
    color: black;
    text-align: center;
    text-decoration: none;
}

nav ul li a {
    font-size: 20px;
}

ul li:hover {
    background: url("logo.png") no-repeat center/cover;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

ul li:hover a {
    color: black;
    font-size: 25px;
    letter-spacing: 5px;
}

/*-----------------------------------------------------*/


.sites_presentation {
    display: grid;
    grid-template-columns: 65% 35%;
    border: 1px solid;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 40px;
    background-color: #f6f3f3;
    background-image: url(tgsogpu8rgvos7ugwgro.avif);
}

.image_site {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image_site img {
    display: block;
    max-width: 100%;
}

.classement_description {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    align-items: flex-start;
    text-align: center;
    padding: 10px 30px;
    text-align: left;
    color: white;
}

.classement_description h1 {
    font-size: 50px;
}

.classement_description p {
    font-size: 20px;
}

.classement_description p a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.redirection_classement {
    display: block;
    width: 100%;
    padding: 15px;
    border: 1px solid;
    border-radius: 5px;
    background-color: #000000ca;
}

.redirection_classement:hover {
    background-color: rgb(40, 40, 39);
}



footer {
    display: flex;
    justify-content: center; 
    align-items: center;     
    gap: 40px;              
    padding: 10px;
    background-color: #f5f5f5; 
    background: #ede8da;
    background: linear-gradient(141deg, rgba(237, 232, 218, 1) 19%, rgba(229, 227, 224, 1) 38%, rgba(221, 221, 230, 1) 62%, rgba(220, 221, 230, 1) 64%, rgba(217, 201, 145, 1) 76%, rgba(255, 255, 255, 1) 91%);
}


footer > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer > div span {
    display: block;
    text-align: center;
    font-size: 20px;
}

.logo_jo_2024 img {
    display: block;
    text-align: center;
    width: 300px;
}

