* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Bebas Neue", sans-serif;
}

ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    max-width: 100%;
}

nav ul li {
    width: 100%;
}

nav ul li a{
    display: block;
    padding: 20px;
    color: black;
    text-align: center;
    text-decoration: none;
}

nav ul li a {
    font-size: 20px;
}

ul li:hover {
    background: url("logo.png") no-repeat center/cover;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

ul li:hover a {
    color: black;
    font-size: 25px;
    letter-spacing: 5px;
}

/*-----------------------------------------------------*/


.sites_presentation {
    display: grid;
    grid-template-columns: 65% 35%;
    border: 1px solid;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 40px;
    background-color: #f6f3f3;
    background-image: url(tgsogpu8rgvos7ugwgro.avif);
}

.image_site {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image_site img {
    display: block;
    max-width: 100%;
}

.sites_description {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    align-items: flex-start;
    text-align: center;
    padding: 10px 30px;
    text-align: left;
    color: white;
}

.sites_description h1 {
    font-size: 50px;
}

.sites_description p {
    font-size: 20px;
}

.sites_description p a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

@media(max-width : 750px) {
    .sites_presentation {
        display: flex;
        flex-direction: column;
        margin: 0;
        border: none;
        border-bottom: 5px solid black;
        padding: 20px;
        background-image: none;
    }

    .image_site {
        background-image: url("sites_ensemble.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 450px;
        padding: 0;
        margin: 0;
    }

    .image_site img {
        visibility: hidden;
    }

    .sites_description {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        text-align: left;
        padding: 15px 5px;
        color: black;
    }

    .sites_description h1 {
        font-size: 50px;
    }

    .sites_description p {
        font-size: 22px;
    }

    .sites_description p a {
        text-decoration: none;
        color: rgb(255, 255, 255);
    }
}




